.checkoutItem {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutItem__info {
  padding-left: 20px
}

.checkoutItem > .checkoutItem__image {
  object-fit: contain;
  width: 180px;
  height: 180px;

  /* max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px; */

}

.checkoutItem__title {
  font-size: 17px;
  font-weight: 800;
}
.checkoutItem__rating {
  display: flex;
  color: orange;
}

.checkoutItem__starIcon {
  margin-right:-3px;
}


.checkoutItem__info > button{
  background: #8b8888;
  border: 1px solid;
  margin-top: 10px;
  border: none;
  color: white;
  border-radius: 24px;
  padding: 7px;
  font-weight: 800;

}