.header {
  height: 60px;
  display: flex;
  align-items: center;
  /* background-color: #131921;  dark theme*/
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 2px solid rgb(247, 247, 247);
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 5px;
}

/* .header__searchIcon {

} */
