.header {
  height: 70px;
  display: flex;
  align-items: center;
  /* background-color: #131921;  dark theme*/
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 2px solid rgb(247, 247, 247);
}


.header__logo {
  width: 100px;
  height: 70px;
  /* object-fit: contain; */
  margin: 0 10px;
  margin-top: 5px;
}


.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}


.header__optionLineOne {
  font-size: 10px;
  color: #3B4114;
  text-decoration: none;
}


.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
  color: #3B4114;
}


.headere__optionCart {
  display: flex;
  justify-content: space-between;
  color: #3B4114;

}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
