.trendingitem__container {
  margin-top: 20px;
  height: 2.5em;
  position: relative;
  overflow: hidden;

}

.trendingitem__container > * {
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.trendingitem__eachItem {
  display: flex;
}

.trendingitem_number {
  color: #f43142;
  margin-left: 20px;
  margin-right: 10px;
}

.trendingitem_name {
  margin-right: 50px;
}


.trendingitem__container > *:first-child {
  animation: 12s autoplay infinite ease-in-out
}
@keyframes autoplay {
  0% {margin-top: 10em}
  4% {margin-top: 0em}
  20% {margin-top: 0em}
  25% {margin-top: -2.5em}
  40% {margin-top: -2.5em}
  45% {margin-top: -5em}
  60% {margin-top: -5em}
  65% {margin-top: -7.5em}
  80% {margin-top: -7.5em}
  85% {margin-top: -10em}
  100% {margin-top: -10em}
}

